@media (min-width: 768px) {
	.header {
		&__img {
			background-image: url('/img/bitcoin_1920.jpeg');
		}
	}

	.cards {
		&__box {
			padding: 10em 2em;
		}

		&__card {
			&--one {
				grid-column: 1/4;
				grid-row: 1/2;
			}

			&--two {
				grid-column: 4/7;
				grid-row: 1/2;
			}

			&--three {
				grid-column: 7/10;
				grid-row: 1/2;
			}
		}
	}
}
